/*
     __     __          ____          __      _        ___          __  _____ __     
 __ / /__  / /  ___    / __/__  ___ _/ /  ___( )___   / _ \___ ____/ / / __(_) /____ 
/ // / _ \/ _ \/ _ \  _\ \/ _ \/ _ `/ _ \/ __//(_-<  / , _/ _ `/ _  / _\ \/ / __/ -_)
\___/\___/_//_/_//_/ /___/ .__/\_,_/_//_/_/   /___/ /_/|_|\_,_/\_,_/ /___/_/\__/\__/ 
                        /_/                                                          

Do not copyeth or replicateth thy radeth website. - Not Shakespeare, but John
*/


/* Navigation Bar */

.barItems {
    width: 100%;
    text-decoration: none;
    margin: 5px;
}

.barItems a {
    display: inline;
}

.mainTitle {
    font-size: 32px;
    margin-left: 10px;
    font-style: normal;
    font-weight: 600;
    color: white;
}

.mainTitle:hover {
    color: #c0cafc;
    cursor: pointer;
}

.menuBtn {
    font-size: 15px;
    float: right;
    padding: 10px;
    margin-right: 20px;
    border-radius: 25px;
    background-color: #222;
    cursor: pointer;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: #111;
    border-bottom: 2px solid #aaa;
}

.navMenu {
    display: none;
    width: 100%;
    text-align: center;
}

.navMenu a,
.navMenu a:visited {
    color: #aaa;
    display: inline-block;
    margin: 10px;
    font-size: 18px;
}

.navMenu a:hover {
    color: #9194a3;
}

.navMenu .selected {
    color: white;
}

.navMenu .selected:hover {
    color: white;
}


/* Site Content */

.content {
    padding: 60px 10px 80px 10px;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.content .portrait {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 2px solid #aaa;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content .button,
.spamspan {
    display: inline-block;
    margin-top: 8px;
    margin-right: 10px;
    padding: 8px;
    background-color: #555;
    color: white;
    border-radius: 25px;
    text-decoration: none;
}

.content .button:hover,
.menuBtn:hover,
.spamspan:hover {
    background-color: #5b76ff !important;
    color: white;
}

.content a,
.content a:visited {
    color: #c0cafc !important;
}

.content a:hover {
    color: #9194a3 !important;
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #222;
    color: white;
    margin-top: 60px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.icon {
    width: 64px;
    height: 64px;
    display: block;
}

.holder {
    min-height: 100%;
    position: relative;
}

.banner {
    width: 100%;
    height: 350px;
    object-fit: contain;
    margin-top: 50px;
    border-bottom: 2px #aaa solid;
    background-color: black;
    pointer-events: none;
}

.bannerContent {
    padding-top: 5px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    cursor: pointer;
    color: #9194a3;
}

a:visited {
    color: white;
}

p {
    margin-top: 5px;
    color: #ddd;
}

hr {
    border: 1px solid #aaa;
    border-radius: 25px;
    background-color: #aaa;
    margin-top: 15px;
}

.centerText {
    text-align: center;
}

ul li {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #ddd;
}

.gallery {
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

.gallery img {
    display: inline;
    object-fit: contain;
    width: 500px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #aaa;
    background-color: black;
}

table {
    width: 100%;
}

th {
    height: 12px;
}

td {
    border: 2px solid #aaa;
    padding: 4px;
    border-radius: 5px;
}


/* Footer */

footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    background-color: #111;
    border-top: 2px solid #aaa;
    font-size: 12px;
}